parameters:
    level: max
    paths:
        - src
    excludePaths:
        - tests
        - src/DependencyInjection/
        - src/PerspectiveApiBundle.php
        - src/Form/ # Optional Symfony Form integration - requires symfony/form
    ignoreErrors:
        -
            identifier: missingType.iterableValue